<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="postController" class="ru.netology.controller.PostController">
    <constructor-arg index="0" ref="postService"/>
    <constructor-arg index="1" ref="postMapper"/>
</bean>
<bean id="postRepository" class="ru.netology.repository.PostRepository" autowire="constructor"/>
<bean id="postService" class="ru.netology.service.PostService" autowire="constructor"/>
<bean id="postMapper" class="ru.netology.mapping.impl.PostMapperImpl" autowire="constructor"/>
</beans>